RewriteEngine On

# Define the base directory for URL rewriting
RewriteBase /

# Redirect URLs starting with /shopease to the root (localhost)
RewriteCond %{REQUEST_URI} ^/
RewriteRule ^shopease/(.*)$ /$1 [L,R=301]

# Handle all other URLs and route them to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]
