@use "../base/variables" as vars;

.profile-wrapper {
  display: grid;
  gap: 2rem;

  .title {
    font-size: 2.5rem;
  }

  .clickable {
    text-decoration: underline;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;

    .item {
      .title {
        font-size: 0.9rem;
      }
      .desc {
        color: vars.$heading-color;
      }
    }
  }

  .table-wrapper {
    display: grid;
    border: vars.$default-border;
    border-radius: vars.$small-radius;

    .table-header,
    .table-item {
      display: grid;
      align-items: center;
      grid-template-columns: 100px 1fr 250px 250px 250px 200px;
    }

    .table-header {
      text-transform: uppercase;
      font-size: 0.8rem;
      border: 0.5rem;
      background-color: vars.$light-gray-color;
      padding: 0.5rem 1rem;

      h4 {
        color: vars.$dark-gray-color;
        margin: 0;
      }
    }

    .no-products-message {
      justify-self: center;
      margin: 1rem 0;
    }

    .table-item:not(:last-of-type) {
      border-bottom: 1px solid vars.$light-gray-color-200;
    }

    .table-item {
      border-radius: inherit;
      padding: 0.5rem 1rem;

      h4,
      p {
        margin: 0;
      }

      .item-container {
        display: flex;
        align-items: center;
        gap: 1rem;

        .item-image {
          width: 50px;
          height: 50px;

          img {
            border-radius: vars.$small-radius;
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }

      .action-btn {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .ti {
          font-size: 1.2rem;
        }
      }
    }
  }
}
